<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <%if (@block_email.nil?) %>
    <h4>Dear <%= @museum_owner.subscription.museum_name%></h4>
    <p>
    I am admin of the <a href="http://www.emuseum.tk">e-museum Thailand</a>. I am here to inform you that your access to our website is blocked due to the misuse of our site by you.
    </p>
    <p>
    We blocked you because of one of the reasons.
    </p>
    <p>
      1. Your museum website is hacked.
      2. We also find some irrelevant Information
      3. There is copyright infringement in your e-Museum website.
      4. Some objects did you mentioned are irrelevant objects
      5. Some from your website are fake news
      6. You are inactive for long time.
    </p>
    <p>This all factors combine together to block you from our website. </p>
    <p> Thank you for your attention.</p>
    <% else %>
    <%= @block_email.content.html_safe%>
    <% end %>
  </body>
</html>