<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <%if(@unblock_email.nil?)%>
    <h4>Dear <%= @museum_owner.subscripiton.museum_name%></h4>
    <p>
      I am admin of the e-museum Thailand. I am here to inform you that your request for accessing to our website is unblocked, due to some misunderstanding on your usage of our website we temporarily blocked your access but after reading your explanation of your reply you stated that from now onwards you will follow all terms and conditions so on that word we again unblocked and provided your access.
    </p>
    <p>
      We are very sorry if we have any mistake on our side hope you will understand our terms and policy and act according to that rules.
    </p>
    <p>
    Thank you! have a great day!
    </p>
    <%else%>
      <%= @unblock_email.content.html_safe %>
    <%end%>
  </body>
</html>