<div class="container">
<h1 style="text-align:center;">New Confirmation Email</h1>
<br>
<%= render 'form', confirmation_email: @confirmation_email %>

<div style="text-align:center;">
<%= link_to 'Back', confirmation_emails_path, class:"btn btn-outline-info"  %>
</div>
</div>
<br>