<div class="container">
<h1 style="text-align:center;">New Welcome Email</h1>
<br>
<%= render 'form', welcome_email: @welcome_email %>

<div style="text-align:center;">
<%= link_to 'Back', welcome_emails_path, class:"btn btn-outline-info"  %>
</div>
</div>
<br>