<div class="features-blue">
		    <div class="container">
		        <div class="intro">
		            <h2 class="text-center">Features</h2>
		            <p class="text-center">Nunc luctus in metus eget fringilla. Aliquam sed justo ligula. Vestibulum nibh erat, pellentesque ut laoreet vitae. </p>
		        </div>
		        <div class="row features">
		            <div class="col-md-4 col-sm-6 item">
		                <h3 class="name"><i class="fa fa-camera-retro fa-2x"></i> Works everywhere</h3>
		                <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est.</p>
		            </div>
		            <div class="col-md-4 col-sm-6 item">
		                <h3 class="name"><i class="fa fa-bug fa-2x" aria-hidden="true"></i>
 Always available</h3>
		                <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est.</p>
		            </div>
		            <div class="col-md-4 col-sm-6 item">
		                <h3 class="name"><i class="fa fa-american-sign-language-interpreting fa-2x" aria-hidden="true"></i>
 Customizable</h3>
		                <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est.</p>
		            </div>
		            <div class="col-md-4 col-sm-6 item">
		                <h3 class="name"><i class="fa fa-bar-chart fa-2x" aria-hidden="true"></i>
 Organic</h3>
		                <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est.</p>
		            </div>
		            <div class="col-md-4 col-sm-6 item">
		                <h3 class="name"><i class="fa fa-car fa-2x" aria-hidden="true"></i>
 Fast</h3>
		                <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est.</p>
		            </div>
		            <div class="col-md-4 col-sm-6 item">
		                <h3 class="name"><i class="fa fa-envelope-o fa-2x" aria-hidden="true"></i> Mobile-first</h3>
		                <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est.</p>
		            </div>
		        </div>
		    </div>
		</div>