<div class="features-blue">
		    <div class="container">
		        <div class="intro">
		            <h2 class="text-center">Features</h2>
		            <p class="text-center">These are the features and opportunities which you will get as an Museum Owner or End User. </p>
		        </div>
		        <div class="row features">
		            <div class="col-md-4 col-sm-6 item">
		                <h3 class="name"><i class="fa fa-camera-retro fa-2x"></i> Advance Search</h3>
		                <p class="description">Allows the web searcher to narrow their search with different filters including division,organisation and management.</p>
		            </div>
		            <div class="col-md-4 col-sm-6 item">
		                <h3 class="name"><i class="fa fa-bug fa-2x" aria-hidden="true"></i>
 Information Security</h3>
		                <p class="description">Protects the confidential data from leaking and also help to  protect from hacking.</p>
		            </div>
		            <div class="col-md-4 col-sm-6 item">
		                <h3 class="name"><i class="fa fa-american-sign-language-interpreting fa-2x" aria-hidden="true"></i>
 Easy Subscribe</h3>
		                <p class="description">It is simple and clean .Facilitates complete plugin and provide with email notification</p>
		            </div>
		            <div class="col-md-4 col-sm-6 item">
		                <h3 class="name"><i class="fa fa-bar-chart fa-2x" aria-hidden="true"></i>
 Good Statistical View</h3>
		                <p class="description">Gathers all the museum websites and allows to view the most visited website.</p>
		            </div>
		            <div class="col-md-4 col-sm-6 item">
		                <h3 class="name"><i class="fa fa-car fa-2x" aria-hidden="true"></i>
 Blog Facility</h3>
		                <p class="description">Provides a perfect space to view or add information and pictures.</p>
		            </div>
		            <div class="col-md-4 col-sm-6 item">
		                <h3 class="name"><i class="fa fa-envelope-o fa-2x" aria-hidden="true"></i> Subdomain</h3>
		                <p class="description">provides a seperate websiite for museum owner and facilitates with own database.</p>
		            </div>
		        </div>
		    </div>
		</div>