<h1 style="text-align:center;">Editing Reject Email</h1>

<%= render 'form', reject_email: @reject_email %>

<%#= link_to 'Show', @reject_email %>

<div style="text-align:center;">
<%= link_to 'Back', reject_emails_path, class:"btn btn-outline-info"  %>
</div>
<br>
