<div class="container">
<h1 style="text-align:center;">New Reject Email</h1>
<br>

<%= render 'form', reject_email: @reject_email %>

<div style="text-align:center;">
<%= link_to 'Back', reject_emails_path, class:"btn btn-outline-info"  %>
</div>
</div>
<br>