<h1 style="text-align:center;">Editing Unblock Email</h1>

<%= render 'form', unblock_email: @unblock_email %>

<%#= link_to 'Show', @unblock_email %>

<div style="text-align:center;">
<%= link_to 'Back', unblock_emails_path, class:"btn btn-outline-info"  %>
</div>
<br>
