<h1 style="text-align:center;">Editing Block Email</h1>

<%= render 'form', block_email: @block_email %>

<%#= link_to 'Show', @block_email %> 
<div style="text-align:center;">
<%= link_to 'Back', block_emails_path, class:"btn btn-outline-info"  %>
</div>
<br>
