<h1 style="text-align: center;">Editing Subscription</h1>

<%= render 'form', subscription: @subscription %>

<%#= link_to 'Show', @subscription %>
<div style="text-align:center;">
<%= link_to 'Back', subscriptions_path, class:"btn btn-outline-info"  %>
</div>
<br>