<div class="container">
<p id="notice"><%= notice %></p>
<h3 align="center">Thank You</h3>
<h4 align="center">You have successfully registered!</h4>
<br><br>
<p align="center">The confirmation message will sent to your <%= @subscription.email_address %></p>
  <div class="form-actions">
      <%= link_to 'Back To Home', root_path %>
  </div>

</div>

<br><br>
